DBActions/Configuration/Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="XConfig">
          <xs:complexType>
               <xs:sequence>
                    <xs:element name="Users">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element maxOccurs="unbounded" name="User">
                                        <xs:complexType>
                                             <xs:attribute name="Name" type="xs:string" use="required" />
                                             <xs:attribute name="Password" type="xs:string" use="required" />
                                             <xs:attribute name="Created" type="xs:dateTime" use="optional" />
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="Databases">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element maxOccurs="unbounded" name="Database">
                                        <xs:complexType>
                                             <xs:attribute name="Name" type="xs:string" use="required" />
                                             <xs:attribute name="Server" type="xs:string" use="required" />
                                             <xs:attribute name="Integrated" type="xs:boolean" use="required" />
                                             <xs:attribute name="Created" type="xs:dateTime" use="optional" />
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
                    <xs:element name="Files">
                         <xs:complexType>
                              <xs:sequence>
                                   <xs:element maxOccurs="unbounded" name="File">
                                        <xs:complexType>
                                             <xs:attribute name="Name" type="xs:string" use="required" />
                                             <xs:attribute name="Path" type="xs:string" use="required" />
                                             <xs:attribute name="Created" type="xs:dateTime" use="optional" />
                                        </xs:complexType>
                                   </xs:element>
                              </xs:sequence>
                         </xs:complexType>
                    </xs:element>
               </xs:sequence>
          </xs:complexType>
     </xs:element>
</xs:schema>